html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

hr{
    margin-top:50px;
}

#timeline-embed {
    height: 100%;
}
.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content.tl-timemarker-content-small .tl-timemarker-text h2.tl-headline {
color: #ddd }

.tl-timemarker .tl-timemarker-content-container {
    background-color: #053f6e;
}
.tl-timeline .tl-slidenav-next, .tl-timeline .tl-slidenav-previous, .tl-timeline .tl-message, .tl-timeline .tl-timegroup-message{
    /* color:#8499aa; */
    font-size: 12px;
}
.fig{
    margin-top: 30px !important;
   font-size: 30px !important;
}
.imgFullWidth{
    width: 100% !important;
}

div.tl-text-content-container h2.tl-headline{
    font-size: 32px !important;
    line-height: 40px !important;
}


/**** embed image page ****/ 
.fig{
    margin-top: 30px !important;
}
.imgFullWidth{
    width: 100% !important;
}


/*** instructions ***/

.instructions{
    color: #a5a5a5;
    font-family: arial;
    padding-right: 2%;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
}   
.bold{
    font-weight: 800;
}

/****  quiz ****/

#quiz, #answer{
    font-family: Arial, Helvetica, sans-serif;
     display: flex;
    flex-flow: column wrap ;
    justify-content: center;
    line-height: 23px;
}

li.qStyle{
    background-color: #004176;
    color:white;
    border: 1px solid black;
    list-style: none;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1%;
}

li.qStyle:hover{
    color: #004176;
    background-color:rgb(179, 183, 219);
}
#answer{
    padding:20px;
}
.answerResponseCorrect{
    background-color: rgb(95, 131, 37);
    Color: white;
}
.answerResponseWrong{
    background-color: rgb(212, 79, 79);
    Color: white;
}
h4{
    font-size: 31px !important;
    list-height: 32px !important;
}
h4.nextSlide {
    font-size: 22px !important;
    color: #004176;
}

table.labs th, table.labs td{
    border:solid rgb(71, 71, 71) 1px;
    padding: 10px;

}
table.labs{
    width: 50%;
    border-collapse: collapse;

}
td.labsNeg{
    color:rgb(179, 36, 36);
    font-weight: 800;
}
table.labs th{
    background-color: #004176;
    color: #fff;
}
span.caseHeadline {
    color: #7db3de;
    font-size: 22px;
    font-weight: bold;
}


@media screen and (max-width: 600px){
    table.labs{
        width: 100%;
    }
    h4.nextSlide{
        font-size: 15px !important;
    }
}
